@model Palestras.Application.ViewModels.PalestranteViewModel

@{
    ViewData["Title"] = "Excluir Palestrante";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Delete">
    <vc:summary/>

    <h3>
        Todas as palestras existentes de "@Model.Nome" também serão removidas! <br />
        Deseja continuar?
    </h3>
    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MiniBio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MiniBio)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Url)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Url)
            </dd>
        </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger"/>
            <a asp-action="Index" class="btn btn-info">Voltar à lista</a>
        </div>
    </div>
</form>